body,
html {
  height: 100%;
  font-family: var(--fonts);
}

header {
  background-image: var(--bg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 160%;
  display: flex;
  height: 200vh;
  justify-content: center;
}

header>h1>img {
  margin-top: 48vh;
  width: 256px;
}
